<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-button
      routerLink="/feed"
      matTooltip="🐔 Home">
      <mat-icon
        aria-hidden="false"
        aria-label="🐔">
        home
      </mat-icon>
    </button>
    <span class="spacer"></span>
    <ng-container *ngIf="user$ | async as user; else loginIcon">

      <button
        mat-icon-button
        routerLink="/create"
        matTooltip="You really was expecting something here? 🐔">
        <mat-icon
          aria-hidden="false"
          aria-label="You really was expecting something here? 🐔">
          cloud_upload
        </mat-icon>
      </button>

      <app-profile-card
        [user]="user"
        (logoutClick)="logout()">
      </app-profile-card>

    </ng-container>
    <ng-template #loginIcon>
      <button
        mat-icon-button
        (click)="login()"
        matTooltip="Login">
        <mat-icon
          aria-hidden="false"
          aria-label="Login">
          fingerprint
        </mat-icon>
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
